.menu-nav2 {
    z-index: 1500;
    width: 100vw;
    height: 4em;
    padding: 0px 70px 0px 70px;
    @include flex ($justify: space-between);

    .liens {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        
        p {
            font-size: 12px;
            font-weight: 700;
            cursor: pointer;
        }

        p:hover {
            text-decoration: line-through;
        }

        a {
            font-size: 12px;
            font-weight: 700;
        }

        a:hover {
            text-decoration: line-through;
        }

        a:nth-of-type(2) {
            margin: 0px 40px 0px 40px;
        }
    }

    .marco {
        width: 50%;
    }

    a {
        font-size: 12px;
        font-weight: 700;
    }
}


.menu-nav {
    position: fixed;
    z-index: 1500;
    width: 100vw;
    height: 4em;
    padding: 0px 70px 0px 70px;
    @include flex ($justify: space-between);

    .liens {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        
        p {
            font-size: 12px;
            font-weight: 700;
            cursor: pointer;
        }

        p:hover {
            text-decoration: line-through;
        }

        a {
            font-size: 12px;
            font-weight: 700;
        }

        a:hover {
            text-decoration: line-through;
        }

        a:nth-of-type(2) {
            margin: 0px 40px 0px 40px;
        }
    }

    .marco {
        width: 50%;
    }

    a {
        font-size: 12px;
        font-weight: 700;
    }
}

.top-menu {
    transform: translateY(-100%);
}

// Social

.social {
    position:fixed;
    bottom: 0px;
    height: 6em;

    a {
        font-size: 12px;
        font-weight: 700;
    }

    a:nth-of-type(2) {
        margin: 0px 40px 0px 40px;
    }

    a:nth-of-type(3) {
        margin: 0px 40px 0px 0px;
    }

    p {
        font-size: 11px;
        font-style: italic;
        opacity: 0.4;
    }
}

.social2 {
    position:absolute;
    bottom: -600px;
    height: 6em;

    a {
        font-size: 12px;
        font-weight: 700;
    }

    a:nth-of-type(2) {
        margin: 0px 40px 0px 40px;
    }

    a:nth-of-type(3) {
        margin: 0px 40px 0px 0px;
    }

    p {
        font-size: 11px;
        font-style: italic;
        opacity: 0.4;
    }
}

@media screen and (max-width: 1024px) {
    .menu-nav {
        background-color: #2C2D2D;
        @include flex ($justify: space-around, $direction: column, $align: space-around);
        height: 100px;
        padding: 30px 70px 30px 70px;
        .marco {
            @include flex;

            a {
                letter-spacing: 2px;
                margin-bottom: 30px;
                justify-content: s;
            }
        }
        .liens {
            @include flex ($justify: space-around);
            width: 100%;
            
        }
    }

    .social {
        display: none;
    }

    .social2 {
        display: none;
    }
}