.contact {
    position: fixed;
    z-index: 2000;
    right: 0px;
    width: 30%;
    height: 100vh;
    background-color: #141414;
    @include flex ($direction:column, $justify:flex-start);
    padding: 50px;
    transition: .5s all ease-in-out;
    transform: translate(100%);

    .hello {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 50px;
    }

    h1 {
        font-weight: 500;
    }

    .form {
        width: 100%;
    }
}

.cross {
    position: relative;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cross span {
    position: absolute;
    height: 1px;
    width: 20px;
    background-color: white;
}

.cross span:nth-of-type(1) {
    position: absolute;
    height: 1px;
    width: 20px;
    background-color: white;
    transform: rotate(-45deg);
}

.cross span:nth-of-type(2) {
    position: absolute;
    height: 1px;
    width: 20px;
    background-color: white;
    transform: rotate(45deg);
}

input {
    background-color: #2C2D2D;
    border: none;
    border-radius: 2px;
    margin-bottom: 30px;
    height: 3em;
    color: white;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
}

input:focus { 
    outline: none !important;
 }

 .names {
     display: flex;
     justify-content: space-between;

     input {
        width: 49%;
        padding-left: 15px;
     }
 }


 .email {
    input {
        width: 100%;
        padding-left: 15px;
    }
 }


 .description {
    input {
        width: 100%;
        padding-left: 15px;
    }
 }

textarea {
    background-color: #2C2D2D;
    border: none;
    border-radius: 2px;
    margin-bottom: 30px;
    height: 3em;
    color: white;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
    height: 15em;
    font-size: 14px;
}

textarea:focus { 
    outline: none !important;
 }


.submit {
    width: 100%;
    @include flex ($justify: flex-start);
    input {
        background-color: transparent;
        margin: 0px;
    }

    a {
        text-decoration: underline;
        margin-left: 25px;
        font-size: 14px;
    }
}


 @media screen and (max-width: 1300px) {

    .contact {
        width: 50%;
    }

 }


 @media screen and (max-width: 1024px) {

    .contact {
        width: 100%;
    }

 }
